<form #carForm="ngForm" (ngSubmit)="SaveCar(carForm)">
<div class="panel panel-primary">
  <div class="panel-heading">
    <div>
        <span class="panel-title">Add Car</span>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="id">Id</label>
            <input _id="id" name="id" [(ngModel)]="id" type="text" class="form-control">
          </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input _id="name" name="name" [(ngModel)]="name" type="text" class="form-control">
      </div>
      <div class="form-group">
          <label for="year">Year</label>
          <input _id="year" name="year" [(ngModel)]="year" type="number" class="form-control">
      </div>
      <div class="form-group">
          <label for="color">Color</label>
          <input _id="color" name="color" [(ngModel)]="color" type="text" class="form-control">
      </div>
      <div class="form-group">
          <label for="price">Price</label>
          <input _id="price" name="price" [(ngModel)]="price" type="number" class="form-control">
      </div>
      <div class="form-group">
        <label>Has Sunroof</label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio" value="true" name="hasSunroof" [(ngModel)]="hasSunroof">
              Yes
            </label>
            <label class="radio-inline">
              <input type="radio" value="false" name="hasSunroof" [(ngModel)]="hasSunroof">
               No
            </label>
          </div>
      </div>
      <div class="form-group">
            <div class="form-control">
              <label class="checkbox-inline">
                <input type="checkbox" name="isFourWheelDrive" [(ngModel)]="isFourWheelDrive" checked>
                Is Four Wheel Drive
              </label>
            </div>
      </div>
      <div class="form-group">
          <label>Has Low Miles</label>
            <div class="form-control">
              <label class="radio-inline">
                <input type="radio" value="true" name="hasLowMiles" [(ngModel)]="hasLowMiles">
                Yes
              </label>
              <label class="radio-inline">
                <input type="radio" value="false" name="hasLowMiles" [(ngModel)]="hasLowMiles">
                 No
              </label>
            </div>
      </div>
      <div class="form-group">
          <label>Has Power Windows</label>
            <div class="form-control">
              <label class="radio-inline">
                <input type="radio" value="true" name="hasPowerWindows" [(ngModel)]="hasPowerWindows">
                Yes
              </label>
              <label class="radio-inline">
                <input type="radio" value="false" name="hasPowerWindows" [(ngModel)]="hasPowerWindows">
                 No
              </label>
            </div>
      </div>
      <div class="form-group">
          <label>Has Navigation</label>
            <div class="form-control">
              <label class="radio-inline">
                <input type="radio" value="true" name="hasNavigation" [(ngModel)]="hasNavigation">
                Yes
              </label>
              <label class="radio-inline">
                <input type="radio" value="false" name="hasNavigation" [(ngModel)]="hasNavigation">
                 No
              </label>
            </div>
      </div>
      <div class="form-group">
          <label>Has Heated Seats</label>
            <div class="form-control">
              <label class="radio-inline">
                <input type="radio" value="true" name="hasHeatedSeats" [(ngModel)]="hasHeatedSeats">
                Yes
              </label>
              <label class="radio-inline">
                <input type="radio" value="false" name="hasHeatedSeats" [(ngModel)]="hasHeatedSeats">
                 No
              </label>
            </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
</form>

Angular Generated Form Model:{{carForm.value |json}}