
 <div class="panel panel-primary">
  <div class="panel-heading">
    <div>
      <span class="panel-title">Car Name:</span> {{car.name}}
    </div>
    <div>
        <span>Model:</span> {{car.year}}
      </div>
      <div>
          <span>Color:</span> {{car.color}}
      </div>
      <div>
          <span>Price:</span> {{car.price}}
      </div>
      <div>
          <span>Has Sunroof:</span> {{car.hasSunroof}}
      </div>
      <div>
          <span>Is Four Wheel Drive:</span> {{car.isFourWheelDrive}}
      </div>
      <div>
          <span>Has Low Miles:</span> {{car.hasLowMiles}}
      </div>
      <div>
          <span>Has Power Windows:</span> {{car.hasPowerWindows}}
      </div>
      <div>
          <span>Has Navigation:</span> {{car.hasNavigation}}
      </div>
      <div>
          <span>Has Heated Seats:</span> {{car.hasHeatedSeats}}
      </div>
**************************************************************
  </div>
 </div>