<!-- <form [formGroup]="carForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Car</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="carName">Car Name</label>
        <div class="col-sm-8">
          <input id="carName" formControlName="carName" type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="model">Model</label>
        <div class="col-sm-8">
          <input id="model" type="text" formControlName="model" class="form-control">
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </div>
</form>
 -->

 <div>
   <div>
     <span>Car Name:</span> {{car.name}}
   </div>
   <div>
      <span>Model:</span> {{car.year}}
    </div>
    <div>
        <span>Color:</span> {{car.color}}
    </div>
    <div>
        <span>Price:</span> {{car.price}}
    </div>
    <div>
        <span>Has Sunroof:</span> {{car.hasSunroof}}
    </div>
    <div>
        <span>Is Four Wheel Drive:</span> {{car.isFourWheelDrive}}
    </div>
    <div>
        <span>Has Low Miles:</span> {{car.hasLowMiles}}
    </div>
    <div>
        <span>Has Power Windows:</span> {{car.hasPowerWindows}}
    </div>
    <div>
        <span>Has Navigation:</span> {{car.hasNavigation}}
    </div>
    <div>
        <span>Has Heated Seats:</span> {{car.hasHeatedSeats}}
    </div>
**************************************************************
 </div>